.search {
   max-width: 400px;
   margin: 5px auto;
   padding: 5px;
}
.search__input {
   padding: 5px;
   margin: 0 5px;
   max-width: 150px;
   border-radius: 0.5em;
   font-size: 10px;
}
.search__botton {
   margin: 0 5px;
   color: #444;
   padding: 7px;
   font-size: 12px;
   font-weight: bold;
   border: 1px solid #aaa;
   box-shadow: 0 1px 0 1px rgb(0 0 0 / 4%);
   border-radius: 0.5em;
   background-repeat: no-repeat, repeat;
   background-position: right 0.7em top 50%, 0 0;
   background-size: 0.65em auto, 100%;
}

.search__botton:hover {
   border-color: #888;
   background-color: #e8e8e8;
   box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.04);
}

.search__botton:active {
   background-color: #dedede;
}
